
{{#each listaTelefonos}}
<div class="telefono" id="telefono" >
    <img class="img-telefono" src="img/{{this.imagen.imagen1}}" id="imagen" width="200px" height="250px" onclick="mostrarDatos('{{this.modelo}}')">
    <div class="caracteristicas">
        <p id="modelo">{{this.modelo}}</p>
        <p id="precio"> $ {{this.precio}}</p> 
    </div> 
    <button class="carrito" onclick="carrito('{{this.modelo}}','{{this.precio}}','{{this.imagen.imagen1}}')">Agregar al carrito</button>
</div> 
{{/each}}

<script>
    function mostrarDatos(modelo){
        let url = "/homeTelefono?"
        url += "modelo=" + modelo;
        location = url;
    }

    function carrito(modelo,precio,imagen){
        let url = "/carrito?"
        url += "modelo=" + modelo + "&"+"precio=" + precio+"&"+"imagen=" + imagen;
        location = url;
    }
</script>
